<template>
    <v-container>
        <div class="text-h3">Todolist</div>
        <v-list
            lines="one"
            v-for="(list, i) in lists"
            :key="i"
        >
            {{ list.title }}
        </v-list>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            lists: [
                {
                    'title': 'Make sandwich',
                    'priority': 1,
                },
                {
                    'title': 'Buy a loaf of bread',
                    'priority': 0,
                },
                {
                    'title': 'Visit museum',
                    'priority': 2,
                },
            ]
        }
    }
}
</script>